*{
    border: 2px solid red;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.calculator {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.screen {
    font-size: 2rem;
    text-align: end;
    padding: 1rem;
}

.buttons-container {
    width: 500px;
    height: 500px;
    display: flex;
    gap: 1rem;
    flex-flow: column wrap;
    padding: 1rem;
}

button {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    display: block;
    border-radius: 50%;
}
