*{
    border: 2px solid red;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.calculator {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.screen {
    font-size: 2rem;
    text-align: end;
    padding: 1rem;
}

.buttons-container {
    width: 17rem;
    height: 21.5rem;
    display: flex;
    gap: 1rem;
    flex-flow: column wrap;
    padding: 1rem;
}

button {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    display: block;
    border-radius: 50%;
}

.order1 { order: 1;}
.order2 { order: 2;}
.order3 { order: 3;}
.order4 { order: 4;}
.order5 { order: 5;}
.order6 { order: 6;}
.order7 { order: 7;}
.order8 { order: 8;}
.order9 { order: 9;}
.order10 { order: 10;}
.order11 { order: 11;}
.order12 { order: 12;}
.order13 { order: 13;}
.order14 { order: 14;}
.order15 { order: 15;}
.order16 { order: 16;}
.order17 { order: 17;}
.order18 { order: 18;}
.order19 { order: 19;
    height: 7rem;
    border-radius: 5rem;
}


